{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <title>System for Improving Resuscitation</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> <!-- bootstrap basic css -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet"> <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script> <!--bootstrap default for a bug in ie -->

    <!-- From here added by Lars------------------------------------------------------------------>
  <!--<link href="{% static 'css/profile.css' %}" rel="stylesheet">-->
    <!-- Till here added by Lars------------------------------------------------------------------>

  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"> <!--toggle navigation for small screen sizes-->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="\">S.I.R.</a> <!--Branding in the top right corner, link back to the dashboard-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right"> <!--nav bar with basic options, the link do not work for this assignment since there are no real account yet-->
            <!-- From here added by Lars------------------------------------------------------------------>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="/website/profile/"><img class= "navicons" src="{% static 'img/profile.png' %}"></a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
            <!-- Till here added by Lars------------------------------------------------------------------>
            <li><a href="\"><img class= "navicons" src="{% static 'img/dashboard.png' %}"></a></li>
            <li><a href="/website/sessions/"><img class= "navicons" src="{% static 'img/calander.png' %}"></a></li>
            <li><a href="/website/progress/"><img class= "navicons" src="{% static 'img/progress.png' %}"></a></li>
            <li><a href="/website/base/"><img class= "navicons" src="{% static 'img/todo.png' %}"></a></li>
            <li><a href="{% url 'home'%}"><img class= "navicons" src="{% static 'img/blog.png' %}"></a></li>
            <li><a href="/website/settings/"><img class= "navicons" src="{% static 'img/settings.png' %}"></a></li>
            <li><a href="/website/help/"><img class= "navicons" src="{% static 'img/help.png' %}"></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar"> <!--Side bar navigation-->
            <li class="active"><a href="\">Dashboard <span class="sr-only">(current)</span></a></li>
            <li><a href="/website/sessions/">Session Calender</a></li> <!--nog veranderen -->
            <li><a href="/website/progress/">Your Progress</a></li> <!--nog veranderen -->
            <li><a href="/website/base/">Goals</a></li> <!--was goals.html -->
            <li><a href="{% url 'home'%}">Blog</a></li> <!--Sebastiaan -->
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> <!--the four circle with the different categories-->

          <!-- From here added by Lars------------------------------------------------------------------>
          {% if user.is_authenticated %}
          <!-- Till here added by Lars------------------------------------------------------------------>

          <h1 class="page-header">Dashboard</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img id="orangecircle" src="{% static 'img/circleorangeconstant.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"> <!-- als tijd over plaatjes veranderen -->
              <h4> <span id="bp10value">00</span> sys.</h4>
              <span class="text-muted">Blood Pressure</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img id="pinkcircle" src="{% static 'img/circlepinkconstant.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><span id="fr10value">00</span> ml&#47;min</h4>
              <span class="text-muted">Flow Rate</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img id="bluecircle" src="{% static 'img/circleblueconstant.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><span id="d10value">00</span> mm</h4>
              <span class="text-muted">Depth</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img id="greencircle" src="{% static 'img/circlegreenconstant.png' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4><span id="s10value">00</span> bpm</h4>
              <span class="text-muted">Speed</span>
            </div>
          </div>

         <br><br>
          <div class="row placeholders"> <!--The four boxes displaying message and link to other part of this site -->
            <div class="col-xs-6 col-sm-5 placeholder" id= "loginbox">
              <h3>Welcome</h3>
              <span class="textboxes">Welcome username to the dashboard of S.I.R., here you can find an overview of all the CPR training session you participated in and the next sessions that are planned. You can see your progress over time and keep track of you goals. </span> <br><br>
            </div>
            <div class="col-xs-6 col-sm-5 placeholder" id="sessionbox">
              <h3>Session</h3>
              <span class="textboxes">In this section you can find all about the next sessions that are planned. You can find the dates, times, places and instructors. <a href="/website/sessions/" class="links">Click here</a> for the full schedule.</span><br><br>
            </div>
          </div>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-5 placeholder" id= "progressbox">
              <h3>Results</h3>
              <span class="textboxes">Here you can find your progress in all the different sessions you participated in. There are graphs available to compare idfferent sessions together and see your progress. <a href="/website/progress/" class="links">Click here</a> for all your results. </span><br><br>
            </div>
            <div class="col-xs-6 col-sm-5 placeholder" id="goalsbox">
              <h3>Goals</h3>
              <span class="textboxes">This section gives you access to your goals. You can see your goals and make or delete current goals. This section is for reflection purposes to give you a complete overview of your progress. You can also find the API documentation to request your goals from the server. <a href="/website/base/" class="links">Click here</a> to see all the goals.</span><br><br>
            </div>
          </div>
          {% block depth2 %}
          {% endblock %}
          <!-- From here added by Lars------------------------------------------------------------------>
          {% else %}
          <p class="please_login" style = "font-size:30px;">Sorry! You cannot visit the site when you are not logged in.</p>
          <p class="please_login"><a href="{% url 'login' %}">Please, login</a></p>

          {% endif %}
          <!-- Till here added by Lars------------------------------------------------------------------>

        </div>
      </div>
    </div>

    <!-- all the javascript code to make everything work -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/colors.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/holder.min.js' %}"></script> <!-- Just to make the placeholder images work -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
