<!--Added this file by Lars-->

{% extends 'website/second_base.html' %}

{% block content %}
  <br>
  <h2>Hey, {{request.user}}!</h2>
  <h4>Welcome to your profile page.</h4>

  <hr>

  <form method="POST" enctype="multipart/form-data" class="signup-form">
      {% csrf_token %}
      {% for field in form %}
          <div class="fieldWrapper">
              {{ field.label_tag }} <br> {{ field }}
              {{ field.errors }}
          </div>

      {% endfor %}
      <div class="profile-list">
          <h2>{{ user.get_full_name }}</h2>
          <div class="row">
              <div class="col-2">Username:</div>
              <div class="col-10">{{ user.username }}</div>
          </div>
          <div class="row">
              <div class="col-2">Email:</div>
              {% if user.profile.email %}
                  <div class="col-10">{{ user.profile.email }}</div>
              {% else %}
                  <div class="col-10"><input type="text" name="fname" class="input-form"></div>
              {% endif %}
          </div>
          <div class="row">
              <div class="col-2">Location:</div>
              {% if user.profile.location %}
                  <div class="col-10">{{ user.profile.location }}</div>
              {% else %}
                  <div class="col-10"><input type="text" name="fname" class="input-form"></div>
              {% endif %}
          </div>
          <div class="row">
              <div class="col-2">Birth Date:</div>
              <div class="col-10">{{ user.profile.birth_date }}</div>
          </div>
          <button type="submit" class="submit-button"><a href="/website/profile/">Save</a></button>
      </div>
   </form>
{% endblock %}
