<!--Added this file by Lars-->

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/logo.png' %}">

    <title>System for Improving Resuscitation</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> <!-- bootstrap basic css -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet"> <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/goals.css' %}" rel="stylesheet">
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script> <!--bootstrap default for a bug in ie -->

<!-- From here added by Lars------------------------------------------------------------------>
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
<!-- Till here added by Lars------------------------------------------------------------------>

  </head>


  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header"> <!--toggle navigation for small screen sizes-->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="\">S.I.R.</a> <!--Branding in the top right corner, link back to the dashboard-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right"> <!--nav bar with basic options, the link do not work for this assignment since there are no real account yet-->
            <!-- From here added by Lars------------------------------------------------------------------>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="/website/profile/"><img class= "navicons" src="{% static 'img/profile.png' %}"></a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
            <!-- Till here added by Lars------------------------------------------------------------------>
            <li><a href="\"><img class= "navicons" src="{% static 'img/dashboard.png' %}"></a></li>
            <li><a href="/website/sessions/"><img class= "navicons" src="{% static 'img/calander.png' %}"></a></li>
            <li><a href="/website/progress/"><img class= "navicons" src="{% static 'img/progress.png' %}"></a></li>
            <li><a href="/website/base/"><img class= "navicons" src="{% static 'img/todo.png' %}"></a></li>
            <li><a href="{% url 'home'%}"><img class= "navicons" src="{% static 'img/blog.png' %}"></a></li>
            <li><a href="/website/settings/"><img class= "navicons" src="{% static 'img/settings.png' %}"></a></li>
            <li><a href="/website/help/"><img class= "navicons" src="{% static 'img/help.png' %}"></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" >
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" >
          <ul class="nav nav-sidebar"> <!--Side bar navigation-->
            <li><a href="\">Dashboard</a></li>
            <li><a href="/website/sessions/">Session Calender </a></li>
            <li><a href="/website/progress/">Your Progress</a></li>

<!-- From here added by Lars------------------------------------------------------------------>
            <li><a href="/website/base/">Goals</a></li>    <!-- Deleted class="active" and span--->
<!-- Till here added by Lars------------------------------------------------------------------>
            <li><a href="{% url 'home'%}">Blog</a></li> <!--Sebastiaan -->

          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    <!-- all the used js files -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'js/goals.js' %}"></script>-->
    <script src="{% static 'js/holder.min.js' %}"></script> <!-- Just to make the placeholder images work -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
