{% extends 'website/base.html' %}

{% block content %}

    <div id="addtodo"> <!--add to do -->

        {% if user.is_authenticated %} <!-- add button-->
          <a href="{% url 'post_new' %}" class="top-menu"><span onclick="newElement()" class="addbutton">Add</span></a>
        {% endif %}
    </div>

    <ul id="myUL"> <!--to do's in a list -->
      {% for post in posts %}
          <li><a href="{% url 'post_detail' pk=post.pk %}" id="todotext"> {{ post.text }} </a></li>
      {% endfor %}
    </ul> <br><br>
<!--<h3>Completed</h3> completed to do's -->
<!--<ul id="myULcomplete">
    <li class="checked">Get depth to 2 mm</li>
</ul> <br><br>-->
{% endblock %}
