body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; 
  margin-bottom: 20px;
  margin-left: -20px;  
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #212121;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #68C8F0;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/* Placeholder dashboard ideas */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#loginbox{
    background-color: #68C8F0; 
    text-align: left;
}

#sessionbox {
    float:right; 
    background-color: #9D9D9D; 
    text-align: left;
}

#progressbox{
    background-color: #9D9D9D; 
    text-align: left;
}

#goalsbox {
    float:right; 
    background-color: #68C8F0; 
    text-align: left;
}

.textboxes{
    color:black;
    font-size:16px;
}

.links{
    color:black;
    text-decoration: underline;
}

.links:hover{
    color:#212121;
}

#bpline {
  background-color: rgb(242,143,84);  
  border:none;
    color:black;
    padding: 10px 10px 10px 10px;
}

#frline {
  background-color: rgb(223,40,134);  
   border:none;
    color:black;
    padding: 10px 10px 10px 10px;
}

#dline {
    background-color: rgb(103,198,232);
     border:none;
    color:black;
    padding: 10px 10px 10px 10px;
}

#sline {
    background-color: rgb(91,185,166); 
     border:none;
    color:black;
    padding: 10px 10px 10px 10px;
}

