body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;

  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #212121;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #68C8F0;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/* Placeholder dashboard ideas */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#loginbox{
    background-color: #68C8F0;
    text-align: left;
}

#sessionbox {
    float:right;
    background-color: #9D9D9D;
    text-align: left;
}

#progressbox{
    background-color: #9D9D9D;
    text-align: left;
}

#goalsbox {
    float:right;
    background-color: #68C8F0;
    text-align: left;
}

.textboxes{
    color:black;
    font-size:16px;
}

.links{
    color:black;
    text-decoration: underline;
}

.links:hover{
    color:#212121;
}

#bpline {
  background-color: rgb(242,143,84);
  border:none;
    color:black;
    padding: 10px 10px 10px 10px;
}

#frline {
  background-color: rgb(223,40,134);
   border:none;
    color:black;
    padding: 10px 10px 10px 10px;
}

#dline {
    background-color: rgb(103,198,232);
     border:none;
    color:black;
    padding: 10px 10px 10px 10px;
}

#sline {
    background-color: rgb(91,185,166);
     border:none;
    color:black;
    padding: 10px 10px 10px 10px;
}

.navicons{
  width: 20px;

}

#bpprogress{
  background-color: rgb(242,143,84);
  color:black;
}

#frprogress{
  background-color: rgb(223,40,134);
  color:black;
}

#dprogress{
  background-color: rgb(103,198,232);
  color:black;
}

#sprogress{
  background-color: rgb(91,185,166);
  color:black;
}

#ansq1 {
  display: none;
  width: 80%;
  margin-left: 10%;
}

#ansq2 {
  display: none;
  width: 80%;
  margin-left: 10%;
}
#ansq3 {
  display: none;
  width: 80%;
  margin-left: 10%;
}

#titleq1{
  width: 100%;
  background-color: rgb(91,185,166);
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#titleq2{
  width: 100%;
  background-color: #d9d9d9;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#titleq3{
  width: 100%;
  background-color: rgb(91,185,166);
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#contactform{
  background-color: #d9d9d9;
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contactformbutton{
  background-color:rgb(91,185,166);
  border: none;
  color:black;
  padding: 5px 10px 5px 10px
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(91,185,166);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
