/* Move down content because there is a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

/* Sidebar. Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #212121;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #68C8F0;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/* Placeholder dashboard ideas */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#myUL {
  margin: 0;
  padding: 0;
}

/* Style the list items */
#myUL > li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myUL > li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#myUL >  li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#myUL >  li.checked {
  background: #888;  
}

/* Add a "checked" mark when clicked on */
#myUL >  li.checked::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

#myULcomplete {
  margin: 0;
  padding: 0;
}

/* Style the list items */
#myULcomplete > li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myULcomplete > li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#myULcomplete >  li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#myULcomplete >  li.checked {
  background: #888;  
}

/* Add a "checked" mark when clicked on */
#myULcomplete >  li.checked::before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

h3 {
border-bottom: 1px solid #EFEEEE;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;  
}

.close:hover {
  color: black;
}

/* Style the header */
#addtodo {
  background-color: rgb(91,185,166);
  padding: 30px 40px;
  text-align: center;
}

/* Clear floats after the header */
#addtodo:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;  
}

/* Style the "Add" button */
.addbutton {
  padding: 10px 20px 10px 20px;
  background: #d9d9d9;
  color: #212121;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;    
}

.addbutton:hover {
  background-color: #bbb;
}